<template>
  <div id="CageFreeReport" class="px-md-4">
    <h2 class="cage-free-heading mb-5 px-md-3">Cage-Free Reporting Data by Sector</h2>

    <header class="d-flex flex-column flex-md-row mb-md-4 px-md-3">
      <div class="year-selector-container d-flex flex-row flex-md-column pr-md-5">
        <div class="mb-4">Reporting Year:</div>
        <div class="year-selector d-flex flex-column w-100 w-md-auto px-4 px-md-auto">
          <!--
          <input type="range" list="report-years" v-model="selectedReportYear"
            :min="$store.state.minYear" :max="$store.state.maxYear" step="1">
          <div class="ticks d-flex justify-content-between">
            <span class="tick" v-for="year in reportYears" :key="year">{{year}}</span>
          </div>
          -->
          <vue-slider v-model="selectedReportYear" :min="$store.state.minYear"
            :max="$store.state.maxYear" step="1" :dotSize="15" :height="16" tooltip="none"
            :marks="true">
            <template v-slot:step>
              <div :class="['vue-slider-mark-label', 'custom-label']"></div>
            </template>
          </vue-slider>
        </div>
      </div>
      <div class="legend d-flex pl-md-5" ref="legend">
      </div>
    </header>
    <main>
      <div ref="chart" class="chart"></div>
    </main>
  </div>
</template>
<script>
import Papa from 'papaparse'
import * as am4core from '@amcharts/amcharts4/core'
import * as am4charts from '@amcharts/amcharts4/charts'
// import am4themes_animated from '@amcharts/amcharts4/themes/animated'
// am4core.useTheme(am4themes_animated)

import VueSlider from 'vue-slider-component'

import {
  SECTOR_ICONS
} from '../util'

import _ from 'lodash'

export default {
  name: "",
  components: {
    VueSlider
  },
  data: () => ({
    selectedReportYear: 0,
    reportData: null,
  }),
  computed: {
    reportYears() {
      const years = []
      for(let i = this.$store.state.minYear; i <= this.$store.state.maxYear; i++) {
        years.push(i)
      }
      return years
    },
    companies() {
      return this.$store.state.availableCompanies
    },
    maxYear() {
      return this.$store.state.maxYear
    }
  },
  mounted() {
    // Download the data
    Papa.parse(`${process.env.VUE_APP_ASSETS_PATH || ''}data/cage_free.csv`, {
      download: true,
      header: true,
      skipEmptyLines: 'greedy',
      error: err => console.error(err),
      complete: results => this.reportData = results.data
    })

    this.selectedReportYear = this.$store.state.maxYear

    this.chart = am4core.create(this.$refs.chart, am4charts.XYChart)
    this.chart.colors.list = [
      am4core.color('#66bc29'),
      am4core.color('#188842')
    ]

    const categoryAxis = this.chart.yAxes.push(new am4charts.CategoryAxis())
    categoryAxis.dataFields.category = 'sector'
    categoryAxis.renderer.grid.template.location = 0
    // This keeps the top line on the axis while disabling all the other grid lines
    categoryAxis.renderer.grid.template.adapter.add('disabled', (grid, target) => {
      if(target.dataItem) {
        if(target.dataItem.category === undefined) {
          return false
        }
      }
      return true
    })
    categoryAxis.renderer.cellStartLocation = 0.1
    categoryAxis.renderer.cellEndLocation = .9
    categoryAxis.renderer.minGridDistance = 20
    categoryAxis.renderer.labels.template.align = 'left'
    categoryAxis.renderer.labels.template.minHeight = 32
    categoryAxis.renderer.labels.template.wrap = window.innerWidth < 500 ? true : false;
    categoryAxis.renderer.labels.template.maxWidth = window.innerWidth < 500 ? 87 : 180
    categoryAxis.renderer.labels.template.adapter.add('html', (label, target) => {
      if(target.dataItem.category) {
        if(window.innerWidth < 500) {
          return `<strong>${target.dataItem.category}</strong>`
        }
        const iconUrl = `${process.env.VUE_APP_ASSETS_PATH || ''}img/icons/${SECTOR_ICONS[target.dataItem.category]}.svg`
        return `<div class="d-flex align-items-center"><img width="30" height="30" style="margin-right: 10px" src="${iconUrl}" alt=""> <strong>${target.dataItem.category}</strong></div>`
      }
    })
    categoryAxis.renderer.line.strokeOpacity = 0;

    const valueAxis = this.chart.xAxes.push(new am4charts.ValueAxis())
    valueAxis.renderer.opposite = true;
    valueAxis.renderer.grid.template.disabled = true
    valueAxis.renderer.baseGrid.disabled = true
    valueAxis.extraMax = .1

    this.chart.legend = new am4charts.Legend();
    const legendContainer = am4core.create(this.$refs.legend, am4core.Container);
    legendContainer.width = am4core.percent(100)
    // legendContainer.height = am4core.percent(100)
    this.chart.legend.parent = legendContainer
    this.chart.legend.reverseOrder = true
    // this.chart.legend.labels.template.align = 'left'
    this.chart.legend.contentAlign = 'left'
    this.chart.legend.layout = 'vertical'
    const marker = this.chart.legend.markers.template
    marker.cornerRadius = 0
    marker.width = 11;
    marker.height = 11;
    marker.strokeWidth = 0

    this.createSeries('reporting_companies', 'Number of companies reporting')
    this.createSeries('commitments', 'Number of cage-free commitments')
    // this.populateData()
  },
  beforeDestroy() {
    //do something before destroying vue instance
    if(this.chart) {
      this.chart.legend.dispose()
      this.chart.dispose()
    }
  },
  watch: {
    companies() {
      if(this.reportData !== null) {
        this.populateData()
      }
    },
    maxYear(value) {
      this.selectedReportYear = value
      if(this.reportData !== null) {
        this.populateData()
      }
    },
    selectedReportYear() {
      // Can only select report year if we have data
      if(this.reportData !== null) {
        this.populateData()
      }
    },
    reportData() {
      if(this.selectedReportYear >= this.$store.state.minYear) {
        this.populateData()
      }
    }
  },
  methods: {
    createSeries(field, name) {
      let series = this.chart.series.push(new am4charts.ColumnSeries());
      series.dataFields.valueX = field;
      series.dataFields.categoryY = "sector";
      series.name = name;
      // series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
      series.columns.template.height = am4core.percent(70);
      // series.sequencedInterpolation = true;

      let valueLabel = series.bullets.push(new am4charts.LabelBullet());
      valueLabel.label.text = "{valueX}";
      valueLabel.label.horizontalCenter = "left";
      valueLabel.label.dx = 10;
      valueLabel.label.hideOversized = false;
      valueLabel.label.truncate = false;
      valueLabel.label.fill = series.fill
      valueLabel.label.fontWeight = 600
    },
    populateData: _.debounce(function() {
      if(this.selectedReportYear <= 0) return

      this.chart.data = Object.keys(SECTOR_ICONS).map(sector => {
        const seriesData = this.reportData.find(r => +r.year === this.selectedReportYear && r.sector === sector)
        const series = {
          sector,
          commitments: +seriesData.commitments,
          reporting_companies: +seriesData.companies_reporting
        }
        return series
      })
    }, 200)
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/mixins';
@import '../assets/styles/typography';

// Vue-slider-component theme vars
$themeColor: #b1b1b1;
$disabledOpacity: 0.5 !default;

$bgColor: #b1b1b1 !default;
$railBorderRadius: 0 !default;

$dotShadow: none; // 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32) !default;
$dotShadowFocus: none; // 0px 0px 1px 2px rgba($themeColor, 0.36) !default;
$dotBgColor: $viridian !default;
$dotBgColorDisable: #ccc !default;
$dotBorderRadius: 50% !default;

$tooltipBgColor: $themeColor !default;
$tooltipColor: #fff !default;
$tooltipBorderRadius: 5px !default;
$tooltipPadding: 2px 5px !default;
$tooltipMinWidth: 20px !default;
$tooltipArrow: 10px !default;
$tooltipFontSize: 14px !default;

$stepBorderRadius: 0 !default;
$stepBgColor: #b1b1b1; // rgba(0, 0, 0, 0.16) !default;

$labelFontSize: 14px !default;
::v-deep {
  @import '~vue-slider-component/lib/theme/default.scss';
  .vue-slider-rail {
    height: 1px;
  }
  .vue-slider-mark-label.custom-label {
    width: 1px;
    height: 10px;
    background: #b1b1b1;
    position: absolute;
    transform: translate(0, -50%);
    top: -9px;
  }
}
#CageFreeReport {
  margin-top: 100px;
  color: $greyish-brown;
}
.cage-free-heading {
  @include Cage-Free-Report-Heading;
  position: revert !important;
  /*
  text-shadow: revert !important;
  text-transform: revert !important;
  */
}
.year-selector-container, .legend {
  flex: 1;
}
.year-selector {
  padding-bottom: .5em;
  @include media-breakpoint-down('md') {
    width: 100%;
  }
}
header {
  font-size: 15px;
}
.chart {
  min-height: 370px;
  @include media-breakpoint-up('md') {
    min-height: 500px;
  }
}
.legend {
  max-height: 60px;
}
</style>
