<template>
  <div class="progress-chart">
    <div class="chart" ref="chart" v-show="showChart"></div>
    <p v-if="!showChart">No data available for the selected egg type</p>
  </div>
</template>

<script>
import * as am4core from '@amcharts/amcharts4/core'
import * as am4charts from '@amcharts/amcharts4/charts'
import am4themes_animated from '@amcharts/amcharts4/themes/animated'
// import sassVars from '../assets/styles/_vars.scss'
import _ from 'lodash'
import * as iso from 'iso-3166-1'

// Custom theme
const am4themes_eggtrack = target => {
  if(target instanceof am4core.ColorSet) {
    target.list = [
      am4core.color('#188842'),
      am4core.color('#09a3c7'),
      am4core.color('#291888'),
      am4core.color('#d17100')
    ]
  }
}
am4core.useTheme(am4themes_animated)
am4core.useTheme(am4themes_eggtrack)

export default {
  name: "",
  props: {
    company: {
      required: true,
      type: Object
    },
    eggType: {
      required: true,
      type: String
    },
    legendArea: {
      required: false
    }
  },
  data: () => ({
    showChart: false
  }),
  watch: {
    eggType() {
      if(!this.chart) {
        return
      }

      this.populateSeries()
      this.populateData()
    }
  },
  methods: {
    populateSeries() {
      // Build the series

      this.chart.series.clear();
      Object.keys(this.company.progress).forEach(region => {
        if(this.eggType in this.company.progress[region]) {
          // Make sure at least one of the progress values is a number
          const values = this.company.progress[region][this.eggType].progress.map( p => p.value)
          if(values.filter(v => !isNaN(v)).length === 0) {
            return
          }

          let series = this.chart.series.push(new am4charts.LineSeries())
          const country = iso.whereAlpha3(region)
          series.name = country !== undefined ? country.country : region
          series.dataFields.categoryX = 'year'
          series.dataFields.valueY = region

          series.strokeWidth = 2

          series.tooltip.autoTextColor = false
          series.tooltip.label.fill = am4core.color('#ffffff')

          series.segments.template.interactionsEnabled = true
          series.segments.template.setStateOnChildren = true;
          const dimmed = series.segments.template.states.create('dimmed')
          dimmed.properties.stroke = am4core.color('#b7b7b7')
          const hovered = series.segments.template.states.create('over')
          hovered.properties.strokeWidth = 4;

          series.events.on('over', this.onSeriesOver)
          series.events.on('out', this.onSeriesOut)

          const bullet = series.bullets.push(new am4charts.Bullet())
          bullet.properties.fill = series.properties.fill
          bullet.setStateOnChildren = true;
          const dimmedBullet = bullet.states.create('dimmed')
          dimmedBullet.properties.fill = am4core.color('#b7b7b7')
          dimmedBullet.properties.stroke = am4core.color('#b7b7b7')

          const circle = bullet.createChild(am4core.Circle)
          circle.width = 10
          circle.height = 10
          circle.stroke = '#fff'
          circle.tooltipText = 'Progress: [bold]{valueY.value}% ({categoryX})[/]'

          // UNDONE: This is ugly
          /*
          const labelBullet = series.bullets.push(new am4charts.LabelBullet())
          labelBullet.disabled = true;
          labelBullet.propertyFields.disabled = "bulletDisabled"
          labelBullet.label.text = region
          labelBullet.label.horizontalCenter = 'left'
          labelBullet.label.dx = 10
          */
        }
      })
      this.showChart = this.chart.series.length > 0
    },
    populateData() {
      // Get all possible years
      let years = []
      Object.keys(this.company.progress).forEach(region => {
        Object.keys(this.company.progress[region]).forEach(eggType => {
          years = _.uniq(years.concat(this.company.progress[region][eggType].progress.map(p => {
            if(isNaN(p.value)) {
              return null
            }
            return p.year
          }).filter(y => y !== null)))
        })
      })
      const chartData = []
      years.forEach(year => {
        let yearData = {year: year.toString()}
        if(year === years[0]) {
          yearData.bulletDisabled = false
        }
        // Get values for each region for each year
        Object.keys(this.company.progress).forEach(region => {
          Object.keys(this.company.progress[region]).forEach(eggType => {
            if(eggType === this.eggType) {
              const progress = this.company.progress[region][eggType].progress.find(p => p.year === year)
              if(progress && !isNaN(progress.value)) {
                yearData = {
                  ...yearData,
                  [region]: progress.value
                }
              }
            }
          })
        })

        chartData.push(yearData)
      })

      /*
      let regionGroups = []
      let combineRegions = [];
      function groupRegions(data, year) {
        const groups = _(data).toPairs()
          .filter(p => p[0] !== 'year')
          .groupBy(p => p[1])
          .value()
        regionGroups.push({year, groups})
      }
      for(let i = years.length - 1; i >= 0; i--) {
        debugger
        const year = years[i]
        groupRegions(chartData.find(d => +d.year === year), year)

        // Did all of the years found grouped have the same values through the remaining years?
        // If Yes, group them
        //
        // Continue calling groupRegions and checking for proceeding patterns until finished
      }
      */

      /*
      // See if any regions share values all the way through all reporting years, combine them
      // Get the unqiue regions in this data set
      // let combineRegions = [] // List of regions that share values for all years
      const regions = _(chartData).map(d => Object.keys(d)).flatten().uniq().without('year')
      regions.each(workingRegion => {
        for(let testRegion of regions.without(workingRegion).value()) {
          // If we've already tested this pair, skip it
          const pairFound = combineRegions.find(c => {
            if((c[0] === workingRegion && c[1] === testRegion) ||
              (c[0] === testRegion && c[1] === workingRegion)) {
                return true;
              }
            return false
          })
          if(pairFound !== undefined ) break;

          // Now compare all years
          let same = true
          for(let year of years) {
            const yearData = chartData.find(d => +d.year === year)
            if(testRegion in yearData) {
              if(workingRegion in yearData) {
                if(yearData[testRegion].value !== yearData[workingRegion].value) {
                  // Different data
                  same = false;
                }
              } else {
                // Test region found, working region not
                same = false
              }
            } else if (workingRegion in yearData) {
              // working region found but test region not
              same = false
            }

            if(!same) break;
          }
          if(same) {
            combineRegions.push([workingRegion, testRegion])
          }
        }
      })
      */

      chartData.sort((a, b) => +a.year - +b.year)
      this.chart.data = chartData
    },
    onSeriesOver(event) {
      this.chart.series.each(series => {
        if(series !== event.target && series.visible) {
          series.segments.each(segment => segment.setState('dimmed'))
          series.bullets.each(bullet => {
            bullet.setState('dimmed')
          })
        } else if(series === event.target) {
          series.segments.each(segment => segment.setState('over'))
        }
      })
    },
    onSeriesOut() {
      this.chart.series.each(series => {
        if(series.visible) {
          series.segments.each(segment => segment.setState('default'))
          series.bullets.each(bullet => {
            bullet.setState('default')
          })
        }
      })
    }
  },
  mounted() {
    this.chart = am4core.create(this.$refs.chart, am4charts.XYChart);
    this.chart.paddingBottom = 0
    this.chart.paddingLeft = 0
    this.chart.paddingRight = 0
    this.chart.maskBullets = false
    /*
    this.chart.events.on('datavalidated', ev => {
      const chart = ev.target
      // If the chart has a lot of series, we need to add height because the legend is so big
      chart.svgContainer.htmlElement.style.height = `${300 + ((chart.series.length / 4) * 40)}px`
    })
    */
    // this.chart.legend = new am4charts.Legend();

    let yearAxis = this.chart.xAxes.push(new am4charts.CategoryAxis());
    yearAxis.renderer.grid.template.location = 0
    yearAxis.renderer.minGridDistance = 50
    yearAxis.dataFields.category = 'year'

    let valueAxis = this.chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.tooltip.disabled = false
    valueAxis.renderer.minWidth = 35
    valueAxis.min = 0
    valueAxis.max = 100
    valueAxis.numberFormatter = new am4core.NumberFormatter()
    valueAxis.numberFormatter.numberFormat = '##\'%\''

    this.chart.legend = new am4charts.Legend()
    // this.chart.legend.height = am4core.percent(100);
    const legendContainer = am4core.create(document.querySelector('#CompanyDetailModal .legend-area'), am4core.Container)
    legendContainer.width = am4core.percent(100);
    // legendContainer.height = am4core.percent(100);
    this.chart.legend.parent = legendContainer
    this.chart.legend.layout = 'horizontal'

    this.populateSeries()

    this.populateData()
  },
  beforeDestroy() {
    //do something before destroying vue instance
    if(this.chart) {
      this.chart.legend.dispose()
      this.chart.dispose()
    }
  }
}
</script>
<style lang="scss" scoped>
.progress-chart {
  > .chart {
    width: 100%;
    min-height: 300px;
  }
}
</style>
