<template>
  <b-modal id="CompanyDetailModal" v-model="isVisible" v-if="company !== null"
    scrollable hide-footer hide-header static>
    <a class="close" @click.prevent="isVisible = false">&times;</a>
    <header class="d-flex flex-row align-items-center">
      <div class="detail-logo">
        <img :src="company.logo" :alt="company.company" :title="company.company" />
      </div>
      <div class="detail-name ml-4">
        <div class="mb-2">
          <strong>Company:</strong> {{company.company}}
        </div>
        <div v-if="parentCompany">
          <strong>Parent Company: </strong>{{parentCompany}}
        </div>
      </div>
    </header>
    <main class="mt-4">
      <div class="alert alert-desert good-egg d-flex flex-row" v-if="company.good_egg_award">
        <div class="good-egg-image">
          <img :src="require(`../assets/img/${$i18n.locale}/good-egg.png`)"
            :srcset="`${require(`../assets/img/${$i18n.locale}/good-egg.png`)} 1x, ${require(`../assets/img/${$i18n.locale}/good-egg@2x.png`)} 2x`"
            alt="Good Egg Award"/>
        </div>
        <div class="copy d-flex justify-content-center flex-column">
          <h6>{{company.company}} is a Good Egg Award Winner!</h6>
          <p>{{company.good_egg_award}}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mr-4">
          <p class="text-greyish-brown mb-2"><strong>Progress over time</strong></p>
          <p class="text-brown-grey-four">Hover over line graphs for more detail. Click in the legend to toggle the series.</p>
        </div>
        <div class="egg-type-selector">
          <span class="mr-2">Egg Type: &nbsp;</span>
          <b-dropdown size="sm" variant="outline-very-light-pink-four" :text="selectedEggType.name">
            <b-dropdown-item v-for="eggType in companyEggTypes"
              :key="eggType.name" :active="selectedEggType.name === eggType.name"
              @click="selectedEggType = eggType">{{eggType.name}}</b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
      <div class="chart-area my-4">
        <!-- <img src="https://via.placeholder.com/500x220"/> -->
        <CompanyProgressChart :company="company" :eggType="selectedEggType.name"/>
      </div>
      <div class="chart-notes">
        <p v-if="selectedEggType.abbrev === 'CO'">"Combined" egg type category includes shell and egg products</p>
      </div>
      <div class="legend-area">

      </div>
      <div class="additional-notes" v-if="additional_details">
        <p><strong>Additional Info:</strong></p>
        <p>{{additional_details}}</p>
      </div>
    </main>
  </b-modal>
</template>
<script>
import _ from 'lodash'
import {
  BModal,
  BDropdown,
  BDropdownItem
} from 'bootstrap-vue'

import CompanyProgressChart from './CompanyProgressChart'

import {
  EGG_TYPES
} from '../util'

export default {
  name: "",
  components: {
    BModal,
    BDropdown,
    BDropdownItem,
    CompanyProgressChart
  },
  data: () => ({
    companyEggTypes: EGG_TYPES,
    selectedEggType: EGG_TYPES[0]
  }),
  computed: {
    isVisible: {
      get() {
        return this.$store.state.detailCompany !== null
      },
      set() {
        this.$store.dispatch('hideDetailModal')
      }
    },
    company() {
      return this.$store.state.detailCompany
    },
    parentCompany() {
      /*
      console.debug(this.company)
      const parentIdx = this.$store.state.availableCompanies.find(c => {
        return c.children.indexOf(this.company.company) !== -1
      })
      if(parentIdx !== -1) {
        return this.$store.state.availableCompanies[parentIdx]
      }
      return null
      */
      return this.company.parent
    },
    additional_details() {
      const details = this.company.additional_details.filter(d => d.year === this.$store.state.maxYear)
      if(details.length > 0) {
        return details[0].details
      }
      return ''
    }
  },
  watch: {
    company(newValue) {
      if(!newValue) return
      let eggTypes = []
      Object.keys(newValue.progress).forEach(region => {
        eggTypes = eggTypes.concat(Object.keys(newValue.progress[region]))
      })
      eggTypes = _.uniq(eggTypes)

      this.companyEggTypes = EGG_TYPES.filter(e => eggTypes.indexOf(e.name) !== -1)
      this.selectedEggType = this.companyEggTypes[0]
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/vars';
::v-deep .modal-dialog {
  max-width: 620px !important;
  font-size: 15px;
}
.detail-logo {
  width: 90px;
  > img {
    width: 100%;
    object-fit: contain;
  }
}
#CompanyDetailModal .close {
  position: absolute;
  right: 40px;
  top: 20px;
}
.egg-type-selector {
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alert.good-egg {
  padding: 21px;
  .good-egg-image {
    img {
      object-fit: contain;
    }
  }
  .copy {
    margin-left: 17px;
  }
  h6 {
    font-family: $font-family-sans-serif;
    font-weight: 600;
  }
  a {
    font-weight: 600;
    color: $muddy-brown;
  }
}
</style>
