<template>
  <div :class="['company-row', {child: isChild}]">
    <div :class="['company-details', 'd-flex', 'flex-row', {morethan2: commitmentCount > 2}]">
      <div class="company-logo" :title="company.company" v-b-tooltip:EggTrackApp.hover.nofade>
        <div class="d-flex flex-column align-items-center">
          <div style="width:100%">
            <img :src="require('../assets/img/arrow.svg')" alt="" v-if="isChild && $store.state.pdf"/>
            <img class="logo" :src="company.logo" :alt="company.company" />
          </div>
          <div v-if="$store.state.pdf" class="company-name">{{company.company}}</div>
        </div>
        <div class="company-relationship" :title="company.company" v-b-tooltip:EggTrackApp.hover.nofade>
          <span v-if="company.children.length > 0">({{$t('Parent')}})</span>
          <span v-if="isChild">({{txt('Subsidiary')}})</span>
        </div>
      </div>
      <div class="company-status d-none d-md-flex">
        <img v-if="company.progress_badge[$store.state.maxYear]" :src="progressBadgeUrl[0]"
          :srcset="`${progressBadgeUrl[0]} 1x, ${progressBadgeUrl[1]} 2x`"
          :alt="company.progress_badge[$store.state.maxYear]"/>
      </div>
      <div class="company-progress">
        <div v-if="company.progress_badge[$store.state.maxYear]"
          :class="['progress-badge', 'd-block', 'd-md-none', progressBadgeId]">
          <img :src="`${require(`../assets/img/${progressBadgeId}.png`)}`"
            :alt="company.progress_badge[$store.state.maxYear]">
          <strong>{{company.progress_badge[$store.state.maxYear]}}</strong>
        </div>
        <CompanyProgress :company="company" :initiallyVisibleCommitments="$store.state.pdf ? 999 : 3" />
        <a v-if="!$store.state.pdf" class="company-details-link d-none d-md-inline" href="#" @click.prevent="$store.dispatch('showDetailModal', company)">View Company Details</a>
      </div>
      <div v-if="$store.state.pdf" class="company-good-egg d-flex flex-row align-items-center">
        <img v-if="company.good_egg_award" :src="require(`../assets/img/${$i18n.locale}/good-egg.png`)"
          :srcset="`${require(`../assets/img/${$i18n.locale}/good-egg.png`)} 1x, ${require(`../assets/img/${$i18n.locale}/good-egg@2x.png`)} 2x`" />
      </div>
    </div>
    <div class="company-children" v-if="company.children && company.children.length > 0">
      <CompanyRow v-for="company in company.children"
        :key="company.company" :isChild="true" :company="findCompanyByName(company)" />
    </div>
  </div>
</template>
<script>
import CompanyProgress from './CompanyProgress'
import {
  STATUS_BADGES,
  getStatusBadgeName
} from '../util'
import _ from 'lodash'

export default {
  name: "CompanyRow",
  components: {
    CompanyProgress
  },
  props: {
    company: {
      type: Object,
      required: true
    },
    isChild: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    commitmentCount() {
      const commitments = _(this.company.progress).mapValues(v => _(v).values().value()).values().flatten().value()
      return commitments.length
    },
    progressBadgeId() {
      return getStatusBadgeName(this.company.progress_badge[this.$store.state.maxYear])
    },
    progressBadgeUrl() {
      if(this.company && this.company.progress_badge) {
        // Lookup progress badges
        let badge = this.company.progress_badge[this.$store.state.maxYear].toLowerCase()
        if(badge in STATUS_BADGES) {
          badge = STATUS_BADGES[badge]
          return [require(`../assets/img/${this.$i18n.locale}/${badge}.png`),
            require(`../assets/img/${this.$i18n.locale}/${badge}@2x.png`)]
        }
      }
      console.warn(`No status badge found for company ${this.company.company}: ${this.company.progress_badge}`)
      return [STATUS_BADGES.default, STATUS_BADGES.default]
    }
  },
  methods: {
    txt(key) {
      { return this.$te(key) ? this.$t(key) : key }
    },
    findCompanyByName(name) {
      // Finding children ignores the region (so a parent in one region can show children in another)
      return this.$store.state.availableCompanies.find(d => d.company === name)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/vars';
@import '../assets/styles/typography';
@import '../assets/styles/mixins';

.company-row {
  background: $white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  margin-bottom: 13px;
  &.child {
    background: #f6f6f6;
    box-shadow: none;
    margin-bottom: 0;
    border-top: 1px solid $very-light-pink-two;
    border-radius: 0;
    .company-logo > img {
      margin-left: 10px;
    }
    .company-relationship, .company-name {
      padding-left: 10px;
      padding-right: 0;
    }
  }
  .company-details {
    padding: 19px 10px 12px;
    @include media-breakpoint-up('md') {
      padding: 32px 10px;
    }
  }
  .company-status {
    width: 100px;
  }
  .company-details, .company-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .company-good-egg {
    width: 65px;
    justify-content: flex-end;
    > img {
      max-height: 80px;
    }
  }
  .company-progress {
    flex: 1;
    .progress-badge {
      line-height: 15px;
      margin-bottom: 15px;
      > img {
        height: 18px;
        width: 20px;
        margin-right: 8px;
      }
    }
  }
  .company-logo {
    padding-right: 10px;
    width: 90px;
    @include media-breakpoint-up('md') {
      padding-right: 0;
    }
    margin-bottom: 2px;
    .logo {
      width: 100%;
      object-fit: contain;
    }
  }
  .company-relationship {
    padding-right: 10px;
    @include Company-Relationship-Label;
  }
  .company-details-link {
    @include Company-Details-Link;
  }
  .company-name {
    @include Company-Relationship-Label;
    text-align: center;
    margin-top: 4px;
    line-height: 1.1em;
  }

  .badge-good-progress { color: $badge-good-progress; }
  .badge-cage-free { color: $badge-cage-free; }
  .badge-missed-target { color: $badge-missed-target; }
  .badge-no-commitment { color: $badge-no-commitment; }
  .badge-not-reporting { color: $badge-not-reporting; }
  .badge-slow-progress { color: $badge-slow-progress; }
  .badge-retracted-commitment { color: $badge-retracted-commitment; }
}
</style>
