<template>
  <div class="company-progress-rows">
    <template v-for="region in primaryRegions">
      <ProgressRow v-for="(typeData, eggType) in companyProgress[region]" :key="`${region}_${eggType}`"
        :eggType="eggType" :typeData="typeData" :region="region"
        v-show="expanded ? true : lookupProgressBarIndex(region, eggType) <= initiallyVisibleCommitments" />
    </template>
    <!-- Now the rest -->
    <template v-for="region in countryKeys.sort()">
      <ProgressRow v-for="(typeData, eggType) in companyProgress[region]" :key="`${region}_${eggType}`"
        :eggType="eggType" :typeData="typeData" :region="region"
        v-show="expanded ? true : lookupProgressBarIndex(region, eggType) <= initiallyVisibleCommitments" />
    </template>
    <a href="#" class="additional-commitment-link mb-2"
      v-if="totalCommitments > initiallyVisibleCommitments"
      @click.prevent="expanded = !expanded">
      <img :src="require('../assets/img/more-commitments.svg')" alt=""/>
      <span v-if="!expanded">
        View {{totalCommitments - initiallyVisibleCommitments}} additional commitments
      </span>
      <span v-if="expanded">
        Show Less
      </span>
    </a>
  </div>
</template>
<script>
import ProgressRow from './ProgressRow'
export default {
  name: "",
  components: {
    ProgressRow
  },
  props: {
    company: {
      type: Object,
      required: true
    },
    initiallyVisibleCommitments: {
      type: Number,
      required: false,
      default: 3
    }
  },
  data: () => ({
    expanded: false,
    progressBarIndexes: new Map(),
    totalCommitments: 0,
    primaryRegions: ['Global', 'US', 'EUR']
  }),
  mounted() {
    //do something after updating vue instance
    let idx = 0;
    this.progressBarIndexes.clear()
    // Primary regions first
    this.primaryRegions.forEach(r => {
      if(r in this.companyProgress) {
        for(let j in this.companyProgress[r]) {
          idx++
          this.progressBarIndexes.set(`${r}${j}`, idx)
        }
      }
    })
    // Now the rest
    Object.keys(this.companyProgress)
    .filter(r => this.primaryRegions.indexOf(r) === -1)
    .forEach(r => {
      if(r in this.companyProgress) {
        for(let j in this.companyProgress[r]) {
          idx++
          this.progressBarIndexes.set(`${r}${j}`, idx)
        }
      }
    })
    this.totalCommitments = idx
  },
  computed: {
    companyProgress() {
      if(!this.company) { return {} }
      const progress = {}
      for(let region in this.company.progress) {
        for(let eggType in this.company.progress[region]) {
          // If this egg type and region don't include progress from the latest year available, skip it
          const p = Object.values(this.company.progress[region][eggType].progress)
            .filter(p => +p.year === this.$store.state.maxYear)
          if(p.length > 0) {
            if(!(region in progress)) {
              progress[region] = {}
            }
            progress[region][eggType] = this.company.progress[region][eggType]
          }
        }
      }
      return progress
    },
    countryKeys() {
      const countries = Object.keys(this.companyProgress)
        .filter(r => this.primaryRegions.indexOf(r) === -1)
      return countries
    }
  },
  methods: {
    lookupProgressBarIndex(i, j) {
      return this.progressBarIndexes.get(`${i}${j}`)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/typography';

.company-progress-rows {
  flex: 1;
}

.additional-commitment-link {
  @include Additional-Commitments-Label;
  display: flex;
  flex-direction: row;
  align-items: center;
  > img {
    margin-right: 5px;
  }
}
</style>
