<template>
  <div id="CompanyTable">
    <div v-if="$store.state.visibleCompanies.length === 0" class="p-3">
      <h5>No data available</h5>
      <p>Try a different search term, region, or industry sector selection.</p>
    </div>
    <div class="table-header" v-if="!$store.state.pdf && $store.state.visibleCompanies.length > 0">
      <div class="header d-flex flex-row pb-2">
        <div class="header-label header-label--company">Company</div>
        <div class="d-none d-md-block header-label header-label--status">Status</div>
        <div class="header-label header-label--progress">Progress</div>
        <div class="header-label header-label--timeline">Timeline</div>
        <div class="header-label header-label--info"></div>
      </div>
    </div>
    <div class="company-rows">
      <CompanyRow v-for="company in $store.state.visibleCompanies"
        :key="company.company" :company="company" />
    </div>
  </div>
</template>
<script>
import CompanyRow from './CompanyRow'

export default {
  name: "",
  components: {
    CompanyRow
  },
  mounted() {
    window.addEventListener('scroll', this.hideTooltips)
    this.$el.addEventListener('scroll', this.hideTooltips)
  },
  destroyed() {
    window.removeEventListener('scroll', this.hideTooltips)
    this.$el.removeEventListener('scroll', this.hideTooltips)
  },
  methods: {
    resetScroll() {
      this.$el.scrollTop = 0
    },
    hideTooltips() {
      this.$root.$emit('bv::hide::tooltip')
    }
  },
  computed: {
    selectedRegion() { return this.$store.state.selectedRegion },
    selectedSector() { return this.$store.state.selectedSector },
    selectedCompanySize() { return this.$store.state.selectedCompanySize },
    searchString() { return this.$store.state.searchString },
    sortBy() { return this.$store.state.sortBy }
  },
  watch: {
    selectedRegion() { this.resetScroll() },
    selectedSector() { this.resetScroll() },
    selectedCompanySize() { this.resetScroll() },
    searchString() { this.resetScroll() },
    sortBy() { this.resetScroll() }
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/typography';
@import '~bootstrap/scss/mixins';

#CompanyTable {
  height: 100%;
  overflow: auto;
}
.table-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  padding: 12px 12px 0 12px;
  @include media-breakpoint-up('md') {
    padding: 24px 24px 0 24px;
  }
}
.header {
  border-bottom: 1px solid $very-light-pink-two;
}
.header-label {
  color: $greyish-brown;
  &--company {
    width: 100px;
    @include media-breakpoint-up('md') {
      width: 120px;
    }
  }
  &--status {
    width: 80px;
  }
  &--progress {
    flex: 1;
  }
  &--timeline {
    // width: 40px;
  }
  &--info {
    width: 40px;
  }
}
.company-rows {
  padding: 12px;
  @include media-breakpoint-up('md') {
    padding: 17px 24px;
  }
}
</style>
