<template>
  <div id="EggTrack">
    <div class="sector-list-desktop d-none d-md-flex"
      :style="{opacity: $store.state.searching ? .5 : 1, pointerEvents: $store.state.searching ? 'none' : ''}">
      <div :class="['sector-button', {active: selectedSector === sector}]"
        v-for="sector in $store.state.availableSectors" :key="sector"
        @click="selectedSector = sector">
        <SvgIcon :icon="getSectorIcon(sector)" :hasFill="true" :hasStroke="true"
          :growByHeight="true" class="sector-icon"/>
        <div class="sector-name mt-1">{{$t(sector)}}</div>
      </div>
    </div>
    <div class="company-area">
      <div class="menu-bar align-items-center justify-content-between justify-content-md-start">
        <div class="sector-list-mobile d-md-none">
          <b-dropdown :html="`<span>${selectedSector}</span>`" size="sm" variant="outline-very-light-pink-four" :block="true">
            <b-dropdown-item v-for="option in $store.state.availableSectors" :key="option"
              :active="selectedSector === option" @click="selectedSector = option">{{option}}</b-dropdown-item>
          </b-dropdown>
        </div>

        <div class="sort d-none d-md-flex flex-row justify-content-center align-items-center" v-if="!$store.state.searching">
          <div class="text-nowrap mr-1">Sort By:</div>
          <b-dropdown :text="sortBy" size="sm" variant="outline-very-light-pink-four">
            <b-dropdown-item v-for="option in sortOptions" :key="option"
              :active="sortBy === option"
              @click="sortBy = option">{{option}}</b-dropdown-item>
          </b-dropdown>
        </div>
        <div class="sort d-none d-md-flex flex-row justify-content-center align-items-center" v-if="!$store.state.searching">
          <div class="text-nowrap mr-1">Company Size:</div>
          <b-dropdown :text="companySize" size="sm" variant="outline-very-light-pink-four">
            <b-dropdown-item v-for="option in COMPANY_SIZE_OPTIONS" :key="option"
              :active="companySize === option" @click="companySize = option">{{option}}</b-dropdown-item>
          </b-dropdown>
        </div>

        <b-dropdown :html="legendText" @shown="legendOpen = true" class="legend-dropdown"
          @hidden="legendOpen = false" size="sm" :no-caret="true" variant="outline-very-light-pink-four">
          <b-dropdown-header>Egg Types:</b-dropdown-header>
          <b-dropdown-text v-for="eggType in EGG_TYPES.filter(t => t.showInLegend)"
            :key="eggType.abbrev">
              <span class="font-weight-bold text-brown-grey-four">{{eggType.abbrev}}</span>
               - {{eggType.name}}
           </b-dropdown-text>
          <b-dropdown-header>Progress:</b-dropdown-header>
          <b-dropdown-text v-for="progressType in PROGRESS_TYPES"
            :key="progressType.abbrev"><span class="font-weight-bold">{{progressType.abbrev}}</span>
             - {{progressType.name}}
           </b-dropdown-text>
          <b-dropdown-text>
            <b-icon-info-circle-fill variant="brown-grey-four" font-scale="1.2"/><span class="ml-2">More Info</span>
          </b-dropdown-text>
        </b-dropdown>

        <b-dropdown :html="filtersText"
          size="sm" :no-caret="true"
          variant="outline-very-light-pink-four" class="d-md-none" v-if="!$store.state.searching"
          offset="-80">
          <b-dropdown-header><strong>Sort By:</strong></b-dropdown-header>
          <b-dropdown-form>
            <b-form-radio v-for="option in sortOptions" :key="option"
              v-model="sortBy" name="sortBy" :value="option">{{option}}</b-form-radio>
          </b-dropdown-form>
          <b-dropdown-header><strong>Company Size:</strong></b-dropdown-header>
          <b-dropdown-form>
            <b-form-radio v-for="option in COMPANY_SIZE_OPTIONS" :key="option"
              v-model="companySize" name="companySize" :value="option">{{option}}</b-form-radio>
          </b-dropdown-form>
        </b-dropdown>
      </div>
      <CompanyTable />
      <div class="gradient"></div>
    </div>
  </div>
</template>
<script>
import {
  BFormRadio,
  BDropdown,
  BDropdownItem,
  BDropdownHeader,
  BDropdownText,
  BDropdownForm,
  BIconInfoCircleFill
} from 'bootstrap-vue'
import {
  getSectorIcon,
  COMPANY_SIZE_OPTIONS,
  EGG_TYPES,
  PROGRESS_TYPES
} from '../util'
import SvgIcon from './SvgIcon'
import CompanyTable from './CompanyTable'

import {
  SELECT_SECTOR,
  SELECT_COMPANY_SIZE,
  SET_SORT_BY
} from '../store/mutations'

export default {
  name: "",
  components: {
    SvgIcon,
    BFormRadio,
    BDropdown,
    BDropdownItem,
    BDropdownHeader,
    BDropdownText,
    BDropdownForm,
    BIconInfoCircleFill,
    CompanyTable
  },
  data: () => ({
    COMPANY_SIZE_OPTIONS,
    EGG_TYPES,
    PROGRESS_TYPES,
    legendOpen: false
  }),
  computed: {
    filtersText() {
      return `<strong>Filters</strong>&nbsp;&nbsp;<img src="${require('../assets/img/mobile-filter.svg')}" alt="">`
    },
    legendText () {
      if(window.innerWidth < 500) {
        return `<span class="text-dark-green">${this.legendOpen ? "Legend" : "Legend"}</span>&nbsp;&nbsp;<span class="text-brown-grey-four">AA</span>`
      }
      return `<span class="text-dark-green">${this.legendOpen ? "Hide Legend" : "View Legend"}</span>&nbsp;&nbsp;<span class="text-brown-grey-four">AA</span>`
    },
    selectedSector: {
      get() { return this.$store.state.selectedSector; },
      set(value) { this.$store.commit(SELECT_SECTOR, value)}
    },
    companySize: {
      get() { return this.$store.state.selectedCompanySize; },
      set(value) { this.$store.commit(SELECT_COMPANY_SIZE, value) }
    },
    sortOptions() { return this.$store.state.availableSortOptions },
    sortBy: {
      get() { return this.$store.state.sortBy },
      set(value) { this.$store.commit(SET_SORT_BY, value) }
    }
  },
  methods: {
    getSectorIcon
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/vars';
@import '../assets/styles/mixins';
@import '../assets/styles/typography';

#EggTrack {
  border: 1px solid $very-light-pink-two;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  max-height: 816px;
  min-height: 574px;
  height: 75vh;
}

.sector-list-desktop {
  width: 132px;
  @include Sector-Labels;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.sector-list-mobile {
  max-width: 130px;
  ::v-deep button > span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 10px);
    display: inline-block;
    vertical-align: middle;
  }
}
.sector-icon {
  font-size: 31px;
}
.sector-button {
  border-bottom: 1px solid $very-light-pink-two;
  border-right: 1px solid $very-light-pink-two;
  &:last-child {
    border-bottom: none;
  }
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  fill: $brown-grey;
  stroke: $brown-grey;
  cursor: pointer;
  &.active, &:hover, &:active {
    fill: $viridian;
    stroke: $viridian;
    color: $viridian;
  }
}
.company-area {
  flex: 1;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  position: relative;
  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    opacity: 0.08;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12%, #000000 88%);
    pointer-events: none;
  }
}
.menu-bar {
  background: $white;
  padding: 12px;
  @include media-breakpoint-up('md') {
    padding: 18px 25px;
  }
  display: flex;
  border-bottom: 1px solid $very-light-pink-two;
  flex-direction: row;
  justify-content: space-between;

  @include media-breakpoint-down('xs') {
    ::v-deep {
      .legend-dropdown.show .text-dark-green {
        color: $greenish !important;
      }
      .btn-outline-very-light-pink-four {
        border: 0 !important;
        &:hover {
          background: transparent !important;
          color: $greenish !important;
        }
      }
    }
  }
}
.sort {
  margin-right: 20px;
}
.dropdown-header {
  font-weight: 700;
}
</style>
