<template>
  <div class="progress-row">
    <div class="progress-region" v-b-tooltip:EggTrackApp.hover.nofade.text="tooltipFromAlpha3(region)">
      <span>{{txt(countryNameFromAlpha3(region))}}</span>
    </div>
    <div class="progress-bar-container">
      <div class="egg-type" v-b-tooltip:EggTrackApp.hover.nofade.html="`Egg Type: <strong>${eggType}</strong>`" :title="eggType">
        <strong v-if="!$store.state.pdf">{{eggAbbrevFromName(eggType)}}</strong>
        <strong v-if="$store.state.pdf">{{txt(eggType)}}</strong>
      </div>
      <b-progress v-if="!isNaN(typeData.progress[0].value)"
        :value="typeData.progress[0].value" v-b-tooltip:EggTrackApp.hover.nofade.html="`Egg Type: <strong>${eggType}</strong>`" :title="eggType"/>
      <b-progress class="progress-na" v-if="['NA','NC'].indexOf(typeData.progress[0].value) !== -1"
        variant="white" :value="100"
        v-b-tooltip:EggTrackApp.nofade.hover :title="eggType"/>
      <b-progress v-if="typeData.progress[0].value === 'NR'"
        variant="very-light-pink-four" v-b-tooltip:EggTrackApp.hover.nofade.html="`Egg Type: <strong>${eggType}</strong>`"
        :title="eggType"/>
    </div>
    <div class="progress-percent">
      <div class="percent">
        <strong v-if="!isNaN(typeData.progress[0].value)" :class="{'highlight': typeData.progress[0].value === 100}">
          {{$n(typeData.progress[0].value)}}%
        </strong>
        <strong v-if="isNaN(typeData.progress[0].value)" :class="{'text-brown-grey-four': typeData.progress[0].value === 'NA'}">
          {{txt(typeData.progress[0].value)}}
        </strong>
      </div>
    </div>
    <div class="progress-timeline">
      <strong>{{txt(typeData.progress[0].timeline)}}</strong>
    </div>
    <div v-if="!$store.state.pdf" class="progress-info">
      <b-icon-info-circle-fill v-if="typeData.progress[0].notes" variant="brown-grey-four"
        v-b-tooltip:EggTrack.hover.nofade.topleft :title="typeData.progress[0].notes" />
    </div>
  </div>
</template>
<script>
import {
    BProgress,
    BIconInfoCircleFill
} from 'bootstrap-vue'
import {
  eggAbbrevFromName,
  alpha3ToCountryName
} from '../util'
export default {
  name: "",
  components: {
    BProgress,
    BIconInfoCircleFill
  },
  props: {
    region: {
      type: String,
      required: true
    },
    eggType: {
      type: String,
      required: true
    },
    typeData: {
      type: Object,
      required: true
    }
  },
  data: () => ({

  }),
  methods: {
    txt(key) {
      { return this.$te(key) ? this.$t(key) : key }
    },
    eggAbbrevFromName,
    alpha3ToCountryName,
    tooltipFromAlpha3(alpha3) {
      return alpha3ToCountryName(alpha3)
    },
    countryNameFromAlpha3(alpha3) {
      if(this.$store.state.pdf) {
        return alpha3ToCountryName(alpha3)
      }
      return alpha3
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/typography';
@import '../assets/styles/mixins';

.progress-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.progress-bar-container {
  flex: 1;
  display: flex;
  width: 100%;
  @include Progress-Egg-Type-Labels;
  .progress {
    height: 13px;
    flex: 1;
    display: none;
    @media (min-width: 450px) {
      display: flex;
    }
  }
}
::v-deep {
    .progress-na {
    > .progress-bar {
      background-image: url(../assets/img/NA-bar-v2.svg);
      background-repeat: repeat-x;
    }
  }
}
.progress-region {
  width: 60px;
  line-height: 1;
}
.progress-timeline {
  width: 40px;
  @include media-breakpoint-up('md') {
    width: 50px;
  }
  line-height: 1;
}
.progress-percent {
  width: 65px;
  @include media-breakpoint-up('md') {
    width: 50px;
  }
  display: flex;
  flex-direction: row;
  .percent {
    @include Bold-Body;
    line-height: 1;
    margin-left: .5em;
    .highlight {
      color: $grass;
      @include media-breakpoint-up('md') {
        color: inherit;
      }
    }
  }
}
.egg-type {
  width: 24px;
}
.progress-info {
  margin-left: .5em;
  width: 20px;
}
</style>
