<template>
  <div id="RegionSelector" :style="{opacity: $store.state.searching ? .5 : 1, pointerEvents: $store.state.searching ? 'none' : ''}">
    <div class="d-none d-md-flex region-selector-desktop">
      <span class="region-label">Region:</span>
      <b-button class="region-button" v-for="region in REGION_OPTIONS"
        :key="region.value" variant="link"
        :pressed="selectedRegion === region.name"
        @click="selectedRegion = region.name">
        <SvgIcon v-if="region.icon !== null" :icon="region.icon" :hasFill="true"
          :growByHeight="true" class="region-icon" />
        <span class="region-name">{{region.label}}</span>
      </b-button>
    </div>
    <div class="d-md-none region-selector-mobile">
      <!-- Mobile -->
      <b-form-group>
        <b-form-radio-group
          v-model="selectedRegion"
          :options="REGION_OPTIONS"
          value-field="name"
          text-field="label"
          buttons
          button-variant="outline-dark-green" />
      </b-form-group>
    </div>
  </div>
</template>
<script>
import { BButton, BFormGroup, BFormRadioGroup } from 'bootstrap-vue'

import { SELECT_REGION } from '../store/mutations'
import {
  REGION_OPTIONS
} from '../util'

import SvgIcon from './SvgIcon'
export default {
  name: "",
  components: {
    BButton,
    BFormGroup,
    BFormRadioGroup,
    SvgIcon
  },
  data: () => ({
    REGION_OPTIONS
  }),
  computed: {
    searching: {
      get() { return this.$store.state.searching; }
    },
    selectedRegion: {
      get() { return this.$store.state.selectedRegion },
      set(value) {
        this.$store.commit(SELECT_REGION, value)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../assets/styles/mixins';
@import '../assets/styles/typography';

.region-selector-desktop {
  padding-top: 2px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.region-label {
  @include Input-Placeholder-Text;
  display: block;
  @include media-breakpoint-up('md') {
    margin-right: 16px;
  }
}
.btn.region-button {
  @include Region-Labels;
  display: block;
  fill: $brown-grey-two;
  opacity: .5;
  padding: 0;
  @include media-breakpoint-up('md') {
    margin-right: 22px;
  }
  &.active, &:hover, &:active {
    fill: $viridian;
    opacity: 1;
    text-decoration: none;
    .region-name {
      color: $viridian;
    }
  }
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  .region-icon {
    font-size: 22px;
    margin-right: 11px;
  }
  .region-name {

  }
}
</style>
