<template>
  <div id="SearchBox">
    <b-form-input type="search" v-model="searchTerm" @input="debounceSearch"
      placeholder="Search Companies" class="search-bar" @focus="showIcon = false"
      @blur="showIcon = true" />
    <div class="search-icon" v-show="showIcon">
      <img :src="require('../assets/img/search.svg')" alt=""/>
    </div>
  </div>
</template>
<script>
import { BFormInput } from 'bootstrap-vue'
import { SET_SEARCH_STRING } from '../store/mutations'
import _ from 'lodash'

export default {
  components: {
    BFormInput
  },
  data: () => ({
    searchTerm: '',
    showIcon: true
  }),
  methods: {
    debounceSearch: _.debounce(function () {
      this.$store.commit(SET_SEARCH_STRING, this.searchTerm)
    }, 500)
  }
}
</script>
<style lang="scss" scoped>
#SearchBox {
  position: relative;
}
.search-bar {
  padding-right: 33px;
}
.search-icon {
  font-size: 17px;
  position: absolute;
  right: 15px;
  top: 10px;
  // transform: translate(0, -50%);
}
</style>
