<template>
  <div id="EggTrackApp">
    <div class="topbar mb-md-2r">
      <SearchBox class="mb-2r mb-md-0"/>
      <RegionSelector/>
    </div>
    <EggTrack />
    <CompanyDetailModal />
    <CageFreeReport />
  </div>
</template>

<script>
import SearchBox from './components/SearchBox'
import RegionSelector from './components/RegionSelector'
import EggTrack from './components/EggTrack'
import CageFreeReport from './components/CageFreeReport'
import CompanyDetailModal from './components/CompanyDetailModal'

export default {
  name: 'App',
  components: {
    SearchBox,
    RegionSelector,
    EggTrack,
    CageFreeReport,
    CompanyDetailModal
  },
  mounted() {
    // Look for our nearest '.article' parent and remove the class
    if(this.$el.parentElement) {
      this.$el.parentElement.classList.remove('article')
    }
    this.$store.dispatch('fetchEggtrackData')

    // Because the CIWF Egg Track page has !important on the .tooltip class's transform and position rules, we have to make ours more important
    this.$root.$on('bv::tooltip::shown', bvEvent => {
      const { relatedTarget } = bvEvent
      relatedTarget.style.setProperty('transform', relatedTarget.style.transform, 'important');
      relatedTarget.style.setProperty('position', relatedTarget.style.position, 'important');
      relatedTarget.style.setProperty('opacity', '1', 'important');

      const arrow = relatedTarget.querySelector('.arrow')
      arrow.style.setProperty('left', arrow.style.left, 'important')
    })
    this.$root.$on('bv::tooltip::hide', bvEvent => {
      const { relatedTarget } = bvEvent
      if(relatedTarget && relatedTarget.style) {
        relatedTarget.style.setProperty('transform', relatedTarget.style.transform, 'important');
        relatedTarget.style.setProperty('position', relatedTarget.style.position, 'important');
        relatedTarget.style.setProperty('opacity', '0', 'important');
      }
    })
 }
}
</script>

<style lang="scss" scoped>
::v-deep {
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap');

  @import './assets/styles/vars';
  @import './assets/styles/typography';
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/reboot';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  @import '~bootstrap/scss/input-group';
  @import '~bootstrap/scss/alert';
  @import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/utilities';
  @import '~bootstrap-vue';

  font-family: $font-family-base;
  font-size: 14px;

  b, strong {
    font-weight: 600;
  }

  .btn {
    @include Button-Text;
  }
  ::placeholder {
    @include Input-Placeholder-Text;
  }

  .form-control {
    padding: $input-padding-x $input-padding-y !important;
  }

  .topbar {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up('md') {
      flex-direction: row-reverse;
      #SearchBox {
        width: 250px;
      }
    }
    #RegionSelector {
      flex: 1;
    }
  }

  .tooltip-inner {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,.18) !important;
  }

  .btn-outline-very-light-pink-four {
    color: $black !important;
    @include media-breakpoint-up('md') {
      padding: 6px 12px !important;
    }
  }

  .dropdown-toggle::after {
    color: $viridian;
    vertical-align: .1em;
  }
  .dropdown-menu {
    white-space: nowrap;
  }

  // Overrides for live site
  header {
    background-image: revert !important;
    background-size: revert !important;
    position: revert !important;
    opacity: revert !important;
  }
  .alert {
    box-shadow: revert !important;
    font-size: revert !important;
    line-height: 1.3em !important;
    h6 {
      letter-spacing: revert !important;
    }
  }
  .modal-content {
    color: revert !important;
  }
  .btn {
    text-transform: revert !important;
    letter-spacing: revert !important;
  }

  .tooltip {
    position: absolute !important;
    opacity: 0 !important;
  }
}
</style>
