<template>
  <div id="PDF">
    <div>
      <select v-model="selectedRegion">
        <option v-for="region in $store.state.availableRegions" :key="region">{{region}}</option>
      </select>
      <select v-model="selectedSector">
        <option v-for="sector in $store.state.availableSectors" :key="sector">{{sector}}</option>
      </select>
      <select v-model="$i18n.locale">
        <option value="en">English</option>
        <option value="it">Italian</option>
        <option value="fr">French</option>
      </select>
    </div>
    <CompanyTable />
  </div>
</template>
<script>
import CompanyTable from './components/CompanyTable'
import {
  SELECT_REGION,
  SELECT_SECTOR
} from './store/mutations'

export default {
  name: "",
  components: {
    CompanyTable
  },
  data: () => ({

  }),
  mounted() {
    this.$store.dispatch('fetchEggtrackData')
  },
  computed: {
    selectedRegion: {
      get() {
        return this.$store.state.selectedRegion
      },
      set(value) {
        this.$store.commit(SELECT_REGION, value)
      }
    },
    selectedSector: {
      get() {
        return this.$store.state.selectedSector
      },
      set(value) {
        this.$store.commit(SELECT_SECTOR, value)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep {
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

  @import './assets/styles/vars';
  @import './assets/styles/typography';
  @import '~bootstrap';
  @import '~bootstrap-vue';


  font-family: $font-family-base;
  font-size: 14px;

  b, strong {
    font-weight: 600;
  }
}
</style>
<style lang="scss">
@import './assets/styles/vars';
// Overrides for PDF
body {
  margin: 0
}
#PDF {
  background: #fafafa;
  // padding: 0 70px;
}
#PDF .company-rows {
  padding: 0;
}
#PDF .company-row {
  border-radius: 0;
  background: none;
  box-shadow: none;
  border-bottom: 1px $very-light-pink-two solid;
  // padding: 0 70px;
  margin-bottom: 0;
  &.child {
    border-bottom: none;
    border-top: 1px solid $very-light-pink-two;
    padding: 0;
    .company-logo .logo {
      width: 73px;
    }
  }
  .company-status {
    width: 90px;
  }
}
#PDF .company-details {
  align-items: stretch;
  padding: 12px 55px;
  &.morethan2 {
    padding: 30px 55px;
  }
  .company-logo, .company-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#PDF .progress-row {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
  .egg-type {
    width: 80px;
    line-height: 1.2;
  }
  .progress-region {
    width: 88px;
  }
}
#PDF .company-progress {
  display: flex;
  align-items: center;
}
#PDF .company-status, #PDF .company-logo {
  // padding-bottom: 5px;
}
#PDF {
  .company-row .company-relationship {
    padding-right: 0;
  }
  .progress-percent {
    width: 55px;
    .percent {
      margin-top: 1px;
    }
  }
  .progress-timeline {
    width: 65px;
    margin-top: 1px;
  }
  .progress-bar-container .progress {
    height: 12px;
    margin-top: 2px;
  }
}
</style>
