@import 'vars';
@import '~bootstrap/scss/mixins';

/*
@mixin d-none {
  display: none !important;
}
@mixin d-block {
  display: block !important;
}
@mixin d-inline {
  display: inline !important;
}
@mixin d-flex {
  display: flex !important;
}

@mixin breakpoint-up($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}
*/
