@import 'vars';

@mixin Cage-Free-Report-Heading {
  font-family: $headings-font-family;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  color: $greyish-brown-two;
}

@mixin Heading {
  font-family: $headings-font-family;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.39;
  text-align: left;
  color: $greyish-brown-two;
}

@mixin Region-Labels {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: $greyish-brown;
}

@mixin Input-Placeholder-Text {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  line-height: 1.4;
  text-align: left;
  color: $greyish-brown;
}

@mixin Additional-Commitments-Label {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: $brownish-grey-two;
}

@mixin Company-Details-Link {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: $dark-sea-green;
}

@mixin Progress-Egg-Type-Labels {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: $brown-grey-four;
}

@mixin Sector-Labels {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: $brown-grey;
}

@mixin Button-Text {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

@mixin Bold-Body {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: $black;
}

@mixin Normal-Body {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: $greyish-brown;
}

@mixin Company-Relationship-Label {
  font-family: $font-family-sans-serif;
  font-size: 12px;
  line-height: 1.58;
  text-align: center;
  color: $brownish-grey;
}

@mixin Slider-Labels {
  font-family: $font-family-sans-serif;
  font-size: 11px;
  line-height: 1.36;
  text-align: left;
  color: $brown-grey-two;
}
