$sickly-green: #83c41c;
$goldenrod: #facc0d;
$viridian: #1c9345;
$greyish-brown: #414141;
$dark-sea-green: #188842;
$brown-grey: #a7a7a7;
$very-light-pink: #efefef;
$brown-grey-two: #797979;
$black: #000000;
$white: #ffffff;
$very-light-pink-two: #dedede;
$greyish-brown-two: #4d4d4d;
$brown-grey-three: #898989;
$brownish-grey: #6f6f6f;
$very-light-pink-three: #bebebe;
$very-light-pink-four: #e5e5e5;
$brown-grey-four: #969696;
$brownish-grey-two: #767676;
$white-two: #f5f5f5;
$desert: #cead62;
$very-light-pink-five: #fff9f0;
$muddy-brown: #8b6b0a;
$grass: #66bc29;
$greenish: #48af6e;

// Badge colors
$badge-slow-progress: #329fbf;
$badge-retracted-commitment: #e0550b;
$badge-not-reporting: #707070;
$badge-no-commitment: #707070;
$badge-missed-target: #c168b6;
$badge-good-progress: #f78c21;
$badge-cage-free: #6bac03;

// Bootstrap overrides
$colors: (
  goldenrod: $goldenrod,
  dark-green: $dark-sea-green,
  light-green: $sickly-green,
  very-light-pink-two: $very-light-pink-two,
  very-light-pink-three: $very-light-pink-three,
  very-light-pink-four: $very-light-pink-four,
  brown-grey-four: $brown-grey-four,
  greyish-brown: $greyish-brown
);
$theme-colors: (
  goldenrod: $goldenrod,
  dark-green: $dark-sea-green,
  light-green: $sickly-green,
  very-light-pink-two: $very-light-pink-two,
  very-light-pink-three: $very-light-pink-three,
  very-light-pink-four: $very-light-pink-four,
  brown-grey-four: $brown-grey-four,
  greyish-brown: $greyish-brown,
  desert: $desert,
  very-light-pink-five: $very-light-pink-five,
  muddy-brown: $muddy-brown
);
$primary: $sickly-green;
$enable-grid-classes: false;
$body-color: $greyish-brown;

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 992px
);

$spacer: 1rem; // Redifine
$spacers: (
  2r: $spacer * 1.5
);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Oswald', sans-serif;

$border-raidus: 4px;

$input-btn-padding-y: 0.625rem;
$input-btn-padding-x: 1.06rem;
$input-btn-font-size: 0.875rem;
$input-btn-line-height: 1.4;

$input-border-color: $very-light-pink-two;
$input-placeholder-color: transparentize($greyish-brown, .43);
$input-color: $greyish-brown;
$input-font-size: 0.9375rem;
$input-padding-x: 0.84375rem;
$input-padding-y: 0.84375rem;
$input-line-height: 1;

$progress-box-shadow: none;
$progress-border-radius: 0;
$progress-bg: $very-light-pink-four;

$dropdown-font-size: 0.875rem;
$dropdown-bg: $white;
$dropdown-border-color: $very-light-pink-two;
$dropdown-link-color: $greyish-brown;
$dropdown-link-active-bg: $white-two;
$dropdown-link-hover-bg: $white-two;
$dropdown-link-hover-color: $greyish-brown;
$dropdown-link-active-color: $greyish-brown;
$dropdown-header-color: $black;
$dropdown-item-padding-y: 0.375rem;
$dropdown-item-padding-x: 0.75rem;

$tooltip-font-size: 0.8125rem;
$tooltip-color: $black;
$tooltip-bg: $white;
$tooltip-padding-x: 0.75rem;
$tooltip-padding-y: 0.75rem;
$tooltip-opacity: 1;

$modal-inner-padding: 2.5rem;

:export {
  darkGreen: $dark-sea-green;
  badge_slow_progress: $badge-slow-progress;
  badge_retracted_commitment: $badge-retracted-commitment;
  badge_not_reporting: $badge-not-reporting;
  badge_no_commitment: $badge-no-commitment;
  badge_missed_target: $badge-missed-target;
  badge_good_progress: $badge-good-progress;
  badge_cage_free: $badge-cage-free;
}
